@import "./reset";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Tourney:wght@300&display=swap");

$color-red: #cc0000;
$color-blue: #3b4cca;
$color-yellow: #ffde00;
$color-red-2: #ff0000;

.body {
	font-family: "Roboto", sans-serif;
}
.header {
	background-color: $color-red;
	// height: 3rem;
	font-family: "Tourney", cursive;
	font-weight: 300;
	font-size: 2rem;
	color: white;
}
.header-link:hover {
	text-decoration: none;
}
.search-bar {
	.fa-search {
		font-size: 0.8em;
	}
}
.search-input {
	color: black;
	height: 2rem;
	font-size: 0.5em;
	font-family: "Roboto", sans-serif;
	width: 80%;
	border-radius: 5px;
	border-style: none;
}
.pokemon-link {
	color: $color-blue;
}

.pokemon-info {
	color: black;
	border: 2px solid $color-red;
}
.pokemon-name {
	border: 2px solid $color-yellow;
}
.pokemon-info-col {
	border: 2px solid $color-blue;
}
.list-image {
	width: 4rem;
	height: 4rem;
	background-position: cover;
}
.list-item {
	list-style: none;
	list-style-type: none;
}